body {
    margin: 0 auto;
    /* background-color: #92BB55; */
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: black;
    font-family: Montserrat;
}

/* ############################ */
/* ########## header ########## */
/* ############################ */


header {
    width: 100%;
    height: 15vh;
    position: absolute;
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* background-color: rgba(0, 0, 0, 0.8); */
    z-index: 1;
    text-align: center;
}

/* ########################## */
/* ########## menu ########## */
/* ########################## */

/* The necessary CSS styles for the navigation. */

#sidebarMenu {
    height: 100%;
    position: fixed;
    top: 80px;
    left: 0;
    width: 20vw;
    /* margin-top: 60px; */
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    /* background: linear-gradient(180deg, #FC466B 0%, #3F5EFB 100%); */
}

.sidebarMenuInner {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner p {
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    margin: 10px;
}

.sidebarMenuInner li {
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.10); */
}

.sidebarMenuInner li:hover {
    font-size: large;
}

.sidebarMenuInner li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.sidebarMenuInner li a:hover {
    color: #89C64A;
}

.sidebarMenuInner li ul {
    display: none;
}

#btn-1:checked ~ .sidebarMenuInner li ul {
    display: block;
}

/* Style & animate the hamburger toggle button. */

input[type="checkbox"]:checked ~ #sidebarMenu { transform: translateX(0); }

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 20px;
    left: 50px;
    height: 22px;
    width: 22px;
    margin: 30px 0px;
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}

.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

#logo_img {
    width: 9.5%;
    height: 100%;
}

#register_btn p{
    width: 10vw;
    height: 5vh;
    background-color: #89C64A;
    color: white;
    text-transform: uppercase;
    padding-top: 20px;
    border-radius: 1%;
    position: absolute;
    top: 20px;
    right: 50px;
}

/* ############################### */
/* ########## container ########## */
/* ############################### */

/* slider container */

#slide_container {
    text-align: center;
}

#slide_img {
    width: 95vw;
    height: 100vh;
}

/* text container */

#text_container {
    position: absolute;
    bottom: 0;
    margin-left: 50px;
    margin-bottom: 20px;
}

#text_container p {
    color: #fff;
}

#rectangle {
    background-color: #89C64A;
    width: 10vw;
    height: 0.5vh;
}

#text_container h1 {
    margin: 10px 0;
}