/*##########################################################*/
.our-history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(../images/ourHISTORY.png) no-repeat;
  background-size: cover;
  overflow: hidden;
  padding-left: 80px;
}

.our-history .our-history-main-title h1 {
  font-size: 4em;
  font-weight: 900;
  line-height: 60px;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  margin-bottom: 0;
}

.our-history .our-history-main-title h2 {
  font-size: 2.5em;
  font-weight: 900;
  line-height: 59px;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
}

.our-history .our-history-box-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 220px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-history .our-history-box-content .our-history-sub-title h2 {
  font-size: 2.5em;
  font-weight: 900;
  line-height: 59px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
}

.our-history .our-history-box-content .our-history-sub-title span {
  color: #89c64a;
}

.our-history .our-history-box-content .our-history-sub-title p {
  width: 560px;
  font-size: 1.75em;
  font-weight: 300;
  line-height: 34px;
}

.our-history .our-history-box-content .img-over-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 650px;
  height: 640px;
}

.our-history .our-history-box-content .img-over-background img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.timeline-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  padding: 60px 0;
  background-color: #fff;
  overflow: hidden;
}

.timeline-box #timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
  height: auto;
  list-style: none;
  padding-left: 30px;
  border-left: 6px solid #a6a6a6;
  margin-left: 250px;
}

.timeline-box #timeline .dot-start {
  position: relative;
  top: 0;
  left: -43px;
  width: 20px;
  height: 20px;
  background-color: #a6a6a6;
  border-radius: 50%;
}

.timeline-box #timeline .dot-end {
  position: relative;
  bottom: 0px;
  left: -43px;
  width: 20px;
  height: 20px;
  background-color: #a6a6a6;
  border-radius: 50%;
}

.timeline-box #timeline li {
  width: 200px;
  margin: 60px 0;
  position: relative;
}

.timeline-box #timeline li .relative {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: -10px;
  width: 400px;
  top: 50%;
  left: -48px;
}

.timeline-box #timeline li .relative .circle {
  width: 24px;
  height: 24px;
  background-color: #c7c7c7;
  border: 3px solid #a6a6a6;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timeline-box #timeline li .relative .circle .sub-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 1000;
}

.timeline-box #timeline li .relative label {
  font-size: 1.3em;
  font-weight: bolder;
  color: #a6a6a6;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
}

.timeline-box #timeline li .relative label:hover {
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
  color: #89c64a;
}

.timeline-box #timeline .radio {
  display: none;
}

.timeline-box #timeline .radio:checked + .relative label {
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bolder;
  color: #89c64a;
}

.timeline-box #timeline .radio:checked + .relative {
  left: -54px;
}

.timeline-box #timeline .radio:checked + .relative .circle {
  width: 36px;
  height: 36px;
}

.timeline-box #timeline .radio:checked + .relative .circle .sub-circle {
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  background-color: #89c64a;
}

.timeline-box #content2,
.timeline-box #content3,
.timeline-box #content4 {
  display: none;
}

.timeline-box .content {
  width: 40%;
  height: 565px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 100px;
}

.timeline-box .content h2 {
  font-size: 2em;
  font-weight: bolder;
  color: #89c64a;
}

.timeline-box .content p {
  width: 100%;
  height: 100%;
  font-size: 1.75em;
  font-weight: lighter;
  margin: 10px;
}

.staff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1145px;
  background: url(../images/staffBackground.png) no-repeat;
  background-size: cover;
  background-color: white;
  /*remove after*/
  overflow: hidden;
}

.staff .staff-title {
  display: block;
  text-align: center;
  width: 560px;
  margin: 100px auto 50px auto;
}

.staff .staff-title h2 {
  font-size: 2.5em;
  font-weight: 900;
  line-height: 59px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
}

.staff .staff-title span {
  color: #89c64a;
}

.staff .staff-title h3 {
  font-size: 1.2em;
  font-weight: lighter;
}

.staff .staff-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  max-width: 1130px;
  overflow: hidden;
}

.staff .staff-cards .staff-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
}

.staff .staff-cards .staff-container .cards {
  width: 350px;
  height: 680px;
  margin: 20px;
  background-color: #fff;
}

.staff .staff-cards .staff-container .cards .link-socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.staff .staff-cards .staff-container .cards .link-socialMedia .link-svg a {
  margin: 5px;
  color: rgba(255, 255, 255, 0.7);
}

.staff .staff-cards .staff-container .cards .link-socialMedia .link-svg a .new-shape {
  width: 55px;
  height: 55px;
  fill: #89c64a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.staff .staff-cards .staff-container .cards .link-socialMedia .link-svg a .new-shape:hover {
  fill: rgba(0, 0, 0, 0.5);
}

.staff .staff-cards .staff-container .cards h3,
.staff .staff-cards .staff-container .cards h4,
.staff .staff-cards .staff-container .cards p {
  text-align: center;
}

.staff .staff-cards .staff-container .cards h3 {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
}

.staff .staff-cards .staff-container .cards h4 {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 300;
  margin: 10px 0;
}

.staff .staff-cards .staff-container .cards p {
  width: 250px;
  margin: 0 auto;
  font-size: 1em;
  font-weight: lighter;
}

.staff .staff-cards .staff-container .cards:first-child {
  margin-left: 0;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 890px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}

.testimonials .arrow {
  display: inline-block;
  border: 3px solid white;
  width: 10px;
  height: 10px;
  border-left: none;
  border-bottom: none;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.testimonials .arrowLeft {
  -webkit-transform: rotateZ(-135deg);
          transform: rotateZ(-135deg);
}

.testimonials .arrowRight {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.testimonials .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 456px;
  background: url(../images/test1.png) no-repeat;
  background-size: cover;
  position: absolute;
  opacity: 0;
}

.testimonials .box-container .box-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 150px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.testimonials .box-container .box-content #quotationMarkBottom {
  position: relative;
  bottom: -50px;
  margin-right: 100px;
  -webkit-box-shadow: 2px solid black;
          box-shadow: 2px solid black;
}

.testimonials .box-container .box-content #quotationMarkTop {
  position: relative;
  top: -320px;
  margin-right: 120px;
}

.testimonials .box-container .box-content .text-testimonials {
  width: 475px;
  padding-bottom: 50px;
}

.testimonials .box-container .box-content .text-testimonials h3 {
  font-weight: bold;
  font-size: 1.25em;
  line-height: 24px;
}

.testimonials .box-container .box-content .text-testimonials p {
  font-size: 1.125em;
  line-height: 22px;
  letter-spacing: 0.015em;
}

.testimonials .box-container .box-content #img-testiominials {
  width: 600px;
}

.testimonials .leftArrow,
.testimonials .rightArrow {
  width: 50px;
  background: #00000036;
  position: absolute;
  left: 0;
  z-index: 1;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  height: 72px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1002;
}

.testimonials .leftArrow:hover,
.testimonials .rightArrow:hover {
  background-color: #89c64a;
  cursor: pointer;
}

.testimonials .rightArrow {
  left: auto;
  right: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.testimonials .moveLeftCurrentSlide {
  -webkit-animation-name: moveLeftCurrent;
          animation-name: moveLeftCurrent;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes moveLeftCurrent {
  from {
    margin-left: 0;
    opacity: 1;
  }
  to {
    margin-left: -100%;
    opacity: 1;
  }
}

@keyframes moveLeftCurrent {
  from {
    margin-left: 0;
    opacity: 1;
  }
  to {
    margin-left: -100%;
    opacity: 1;
  }
}

.testimonials .moveLeftNextSlide {
  -webkit-animation-name: moveLeftNext;
          animation-name: moveLeftNext;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes moveLeftNext {
  from {
    margin-left: 100%;
    opacity: 1;
  }
  to {
    margin-left: 0%;
    opacity: 1;
  }
}

@keyframes moveLeftNext {
  from {
    margin-left: 100%;
    opacity: 1;
  }
  to {
    margin-left: 0%;
    opacity: 1;
  }
}

.testimonials .moveRightCurrentSlide {
  -webkit-animation-name: moveRightCurrent;
          animation-name: moveRightCurrent;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes moveRightCurrent {
  from {
    margin-left: 0;
    opacity: 1;
  }
  to {
    margin-left: 100%;
    opacity: 1;
  }
}

@keyframes moveRightCurrent {
  from {
    margin-left: 0;
    opacity: 1;
  }
  to {
    margin-left: 100%;
    opacity: 1;
  }
}

.testimonials .moveRightPrevSlide {
  -webkit-animation-name: moveRightPrev;
          animation-name: moveRightPrev;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes moveRightPrev {
  from {
    margin-left: -100%;
    opacity: 1;
  }
  to {
    margin-left: 0%;
    opacity: 1;
  }
}

@keyframes moveRightPrev {
  from {
    margin-left: -100%;
    opacity: 1;
  }
  to {
    margin-left: 0%;
    opacity: 1;
  }
}

/* ###########################################*/
/* ############ MEDIA QUERY PART #############*/
/* ###########################################*/
@media only screen and (max-width: 1440px) {
  .our-history .our-history-main-title h1 {
    font-size: 3em;
  }
  .our-history .our-history-main-title h2 {
    font-size: 2em;
  }
  .our-history .our-history-box-content .our-history-sub-title h2 {
    font-size: 2.2em;
  }
  .our-history .our-history-box-content .img-over-background img {
    width: 85%;
  }
  .timeline-box #timeline {
    margin-left: 150px;
  }
  .timeline-box .content p {
    font-size: 1.5em;
  }
  .testimonials .box-container {
    height: 400px;
  }
  .testimonials .box-container .box-content #quotationMarkBottom {
    width: 200px;
    bottom: -30px;
    margin-right: 50px;
  }
  .testimonials .box-container .box-content #quotationMarkTop {
    width: 200px;
    top: -270px;
  }
  .testimonials .box-container .box-content .text-testimonials {
    width: 450px;
  }
  .testimonials .box-container .box-content #img-testimonials {
    width: 400px;
  }
}

@media only screen and (max-width: 1024px) {
  .our-history .our-history-box-content {
    padding-top: 100px;
  }
  .our-history .our-history-box-content .our-history-sub-title h2 {
    font-size: 1.8em;
  }
  .our-history .our-history-box-content .our-history-sub-title p {
    width: 450px;
    font-size: 1.25em;
  }
  .our-history .our-history-box-content .img-over-background img {
    width: 100%;
  }
  .timeline-box #timeline {
    margin-left: 50px;
  }
  .timeline-box .content {
    margin-left: 50px;
  }
  .timeline-box .content p {
    font-size: 1.3em;
  }
  .staff .staff-title h3 {
    width: 450px;
    font-size: 1em;
    margin: 0 auto;
  }
  .staff .staff-cards {
    max-width: 830px;
  }
  .staff .staff-cards .staff-container .cards {
    width: 250px;
    height: 580px;
  }
  .staff .staff-cards .staff-container .cards .img-staff {
    width: 250px;
  }
  .staff .staff-cards .staff-container .cards .link-socialMedia .link-svg a .new-shape {
    width: 45px;
    height: 45px;
  }
  .staff .staff-cards .staff-container .cards h4 {
    font-size: 0.8em;
  }
  .staff .staff-cards .staff-container .cards p {
    width: 200px;
  }
  .testimonials {
    height: 700px;
  }
  .testimonials .box-container {
    height: 290px;
  }
  .testimonials .box-container .box-content #quotationMarkBottom {
    width: 130px;
  }
  .testimonials .box-container .box-content #quotationMarkTop {
    width: 130px;
    top: -210px;
  }
  .testimonials .box-container .box-content .text-testimonials {
    width: 350px;
    padding-bottom: 10px;
  }
  .testimonials .box-container .box-content .text-testimonials h3 {
    font-size: 1em;
  }
  .testimonials .box-container .box-content .text-testimonials p {
    font-size: 0.75em;
  }
  .testimonials .box-container .box-content #img-testimonials {
    width: 300px;
  }
  .testimonials .leftArrow,
  .testimonials .rightArrow {
    width: 35px;
    height: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .our-history .our-history-main-title h1 {
    font-size: 2.3em;
    line-height: 50px;
  }
  .our-history .our-history-main-title h2 {
    font-size: 1.8em;
    line-height: 30px;
  }
  .our-history .our-history-box-content {
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .our-history .our-history-box-content .our-history-sub-title {
    -webkit-box-align: none;
        -ms-flex-align: none;
            align-items: none;
  }
  .our-history .our-history-box-content .our-history-sub-title h2 {
    font-size: 1.5em;
  }
  .our-history .our-history-box-content .our-history-sub-title p {
    width: 400px;
    font-size: 1em;
  }
  .our-history .our-history-box-content .img-over-background img {
    width: 150%;
  }
  .timeline-box #timeline {
    width: 180px;
    margin-left: 10px;
  }
  .timeline-box .content {
    width: 300px;
    margin-left: 50px;
  }
  .timeline-box .content h2 {
    font-size: 1.8em;
  }
  .timeline-box .content p {
    font-size: 1.3em;
  }
  .staff {
    height: 950px;
  }
  .staff .staff-title h2 {
    font-size: 2em;
  }
  .staff .staff-cards {
    max-width: 680px;
  }
  .staff .staff-cards .staff-container .cards {
    width: 200px;
    height: 500px;
  }
  .staff .staff-cards .staff-container .cards .img-staff {
    width: 200px;
  }
  .staff .staff-cards .staff-container .cards .link-socialMedia .link-svg a .new-shape {
    width: 40px;
    height: 40px;
  }
  .staff .staff-cards .staff-container .cards h3 {
    font-size: 1.3em;
  }
  .staff .staff-cards .staff-container .cards h4 {
    font-size: 0.7em;
  }
  .staff .staff-cards .staff-container .cards p {
    width: 150px;
    font-size: 0.8em;
  }
  .testimonials {
    height: 650px;
  }
  .testimonials .box-container {
    height: 250px;
  }
  .testimonials .box-container .box-content #quotationMarkBottom {
    width: 90px;
    margin-right: 0px;
  }
  .testimonials .box-container .box-content #quotationMarkTop {
    width: 90px;
    top: -195px;
    left: -20px;
  }
  .testimonials .box-container .box-content .text-testimonials {
    width: 300px;
    padding-bottom: 0px;
    margin-left: 20px;
  }
  .testimonials .box-container .box-content .text-testimonials h3 {
    font-size: 0.8em;
  }
  .testimonials .box-container .box-content .text-testimonials p {
    font-size: 0.6em;
  }
  .testimonials .box-container .box-content #img-testimonials {
    width: 250px;
  }
  .testimonials .leftArrow,
  .testimonials .rightArrow {
    width: 30px;
    height: 40px;
  }
}

@media only screen and (max-width: 425px) {
  .our-history {
    padding-left: 40px;
  }
  .our-history .our-history-main-title h1 {
    font-size: 1.5em;
    line-height: 30px;
  }
  .our-history .our-history-main-title h2 {
    font-size: 1.2em;
    line-height: 30px;
  }
  .our-history .our-history-box-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our-history .our-history-box-content .our-history-sub-title h2 {
    font-size: 1.5em;
  }
  .our-history .our-history-box-content .our-history-sub-title p {
    width: 350px;
  }
  .our-history .our-history-box-content .img-over-background {
    width: 350px;
    height: auto;
  }
  .our-history .our-history-box-content .img-over-background img {
    width: 100%;
  }
  .timeline-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 60px 0 0 0;
  }
  .timeline-box #timeline {
    margin: 0 0 50px 70px;
  }
  .timeline-box #timeline .dot-start {
    top: -10px;
    left: -41px;
    width: 16px;
    height: 16px;
  }
  .timeline-box #timeline .dot-end {
    width: 16px;
    height: 16px;
  }
  .timeline-box #timeline li {
    margin: 35px 0;
  }
  .timeline-box #timeline li .relative .circle {
    width: 20px;
    height: 20px;
  }
  .timeline-box #timeline li .relative .circle .sub-circle {
    width: 10px;
    height: 10px;
  }
  .timeline-box #timeline .radio:checked + .relative {
    left: -50px;
  }
  .timeline-box #timeline .radio:checked + .relative .circle {
    width: 26px;
    height: 26px;
  }
  .timeline-box #timeline .radio:checked + .relative .circle .sub-circle {
    width: 14px;
    height: 14px;
  }
  .timeline-box .content {
    width: 330px;
    margin-left: 0px;
  }
  .timeline-box .content h2 {
    font-size: 1.8em;
    font-weight: bolder;
    color: #89c64a;
  }
  .timeline-box .content p {
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    font-weight: lighter;
    margin: 10px;
  }
  .staff {
    height: 850px;
  }
  .staff .staff-title {
    width: 425px;
  }
  .staff .staff-title h2 {
    font-size: 1.5em;
  }
  .staff .staff-title h3 {
    width: 350px;
  }
  .staff .staff-cards .staff-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 529px;
  }
  .staff .staff-cards .staff-container .cards {
    width: 250px;
    height: auto;
    margin: 0px;
  }
  .staff .staff-cards .staff-container .cards .img-staff {
    width: 250px;
  }
  .staff .staff-cards .staff-container .cards .link-socialMedia .link-svg a .new-shape {
    width: 40px;
    height: 40px;
  }
  .staff .staff-cards .staff-container .cards h3,
  .staff .staff-cards .staff-container .cards h4,
  .staff .staff-cards .staff-container .cards p {
    text-align: center;
  }
  .staff .staff-cards .staff-container .cards h3 {
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
  }
  .staff .staff-cards .staff-container .cards h4 {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 300;
    margin: 10px 0;
  }
  .staff .staff-cards .staff-container .cards p {
    width: 150px;
    margin: 0 auto 20px auto;
    font-size: 0.8em;
    font-weight: lighter;
  }
  .staff .staff-cards .staff-container .cards:first-child {
    margin-left: 0;
  }
  .testimonials {
    height: 500px;
  }
  .testimonials .box-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 350px;
  }
  .testimonials .box-container .box-content #quotationMarkBottom {
    width: 65px;
    bottom: -30px;
    left: -10px;
  }
  .testimonials .box-container .box-content #quotationMarkTop {
    width: 65px;
    top: -235px;
    left: -20px;
  }
  .testimonials .box-container .box-content .text-testimonials {
    width: 270px;
    padding-bottom: 10px;
    margin-left: 0px;
    margin-right: 20px;
  }
  .testimonials .box-container .box-content .text-testimonials h3 {
    font-size: 0.75em;
  }
  .testimonials .box-container .box-content .text-testimonials p {
    font-size: 0.4em;
  }
  .testimonials .box-container .box-content #img-testimonials {
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  .our-history {
    padding-left: 30px;
  }
  .our-history .our-history-main-title h1 {
    font-size: 1.3em;
  }
  .our-history .our-history-main-title h2 {
    font-size: 1em;
  }
  .our-history .our-history-box-content {
    padding-top: 50px;
  }
  .our-history .our-history-box-content .our-history-sub-title h2 {
    font-size: 1.3em;
  }
  .our-history .our-history-box-content .our-history-sub-title p {
    width: 315px;
    font-size: 0.9em;
  }
  .our-history .our-history-box-content .img-over-background {
    width: 315px;
  }
  .timeline-box .content {
    width: 300px;
    height: auto;
  }
  .timeline-box .content p {
    margin: 10px 0;
  }
  .staff .staff-title {
    width: 375px;
  }
  .staff .staff-title h3 {
    width: 330px;
    font-size: 0.9em;
  }
  .testimonials {
    height: 600px;
  }
  .testimonials .box-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 400px;
  }
  .testimonials .box-container .box-content {
    padding-left: 140px;
  }
  .testimonials .box-container .box-content #quotationMarkBottom {
    bottom: -35px;
    left: -10px;
  }
  .testimonials .box-container .box-content #quotationMarkTop {
    top: -285px;
    left: -10px;
  }
  .testimonials .box-container .box-content .text-testimonials {
    width: 230px;
    margin-right: 0px;
  }
  .testimonials .box-container .box-content .text-testimonials p {
    font-size: 0.3em;
  }
}

@media only screen and (max-width: 320px) {
  .our-history {
    padding-left: 30px;
  }
  .our-history .our-history-main-title h1 {
    font-size: 1.2em;
    line-height: 20px;
  }
  .our-history .our-history-main-title h2 {
    font-size: 0.9em;
  }
  .our-history .our-history-box-content .our-history-sub-title h2 {
    font-size: 1.2em;
  }
  .our-history .our-history-box-content .our-history-sub-title p {
    width: 260px;
    font-size: 0.8em;
  }
  .our-history .our-history-box-content .img-over-background {
    width: 260px;
  }
  .timeline-box #timeline li .relative label {
    font-size: 1em;
  }
  .timeline-box #timeline li .relative label:hover {
    font-size: 1.2em;
  }
  .timeline-box #timeline .radio:checked + .relative label {
    font-size: 1.3em;
  }
  .timeline-box .content {
    width: 260px;
  }
  .timeline-box .content h2 {
    font-size: 1.3em;
  }
  .timeline-box .content p {
    font-size: 1em;
  }
  .staff .staff-title {
    width: 320px;
  }
  .staff .staff-title h3 {
    width: 300px;
  }
  .testimonials {
    height: 650px;
  }
  .testimonials .box-container {
    height: 500px;
  }
  .testimonials .box-container .box-content {
    padding-left: 130px;
  }
  .testimonials .box-container .box-content #quotationMarkBottom {
    bottom: -75px;
    left: 30px;
  }
  .testimonials .box-container .box-content #quotationMarkTop {
    top: -320px;
    left: -40px;
  }
}
/*# sourceMappingURL=about.css.map */