/*##########################################################*/
.our-history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(../images/ourHISTORY.png) no-repeat;
  background-size: cover;
  overflow: hidden;
  padding-left: 80px;
}

.our-history .our-history-main-title h1 {
  font-size: 4em;
  font-weight: 900;
  line-height: 60px;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  margin-bottom: 0;
}

.our-history .our-history-main-title h2 {
  font-size: 2.5em;
  font-weight: 900;
  line-height: 59px;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
}

.our-history .our-history-box-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 220px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-history .our-history-box-content .our-history-sub-title h2 {
  font-size: 2.5em;
  font-weight: 900;
  line-height: 59px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
}

.our-history .our-history-box-content .our-history-sub-title span {
  color: #89c64a;
}

.our-history .our-history-box-content .our-history-sub-title p {
  width: 560px;
  font-size: 1.75em;
  font-weight: 300;
  line-height: 34px;
}

.our-history .our-history-box-content .img-over-background {
  width: 650px;
  height: 640px;
}

.our-history .our-history-box-content .img-over-background img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.timeline-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  padding: 60px 0;
  background-color: #fff;
  overflow: hidden;
}

.timeline-box #timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
  height: auto;
  list-style: none;
  padding-left: 30px;
  border-left: 6px solid #a6a6a6;
  margin-left: 250px;
}

.timeline-box #timeline .dot-start {
  position: relative;
  top: 0;
  left: -43px;
  width: 20px;
  height: 20px;
  background-color: #a6a6a6;
  border-radius: 50%;
}

.timeline-box #timeline .dot-end {
  position: relative;
  bottom: 0px;
  left: -43px;
  width: 20px;
  height: 20px;
  background-color: #a6a6a6;
  border-radius: 50%;
}

.timeline-box #timeline li {
  width: 200px;
  margin: 60px 0;
  position: relative;
}

.timeline-box #timeline li .relative {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: -10px;
  width: 400px;
  top: 50%;
  left: -48px;
}

.timeline-box #timeline li .relative .circle {
  width: 24px;
  height: 24px;
  background-color: #c7c7c7;
  border: 3px solid #a6a6a6;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timeline-box #timeline li .relative .circle .sub-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 1000;
}

.timeline-box #timeline li .relative label {
  font-size: 1.3em;
  font-weight: bolder;
  color: #a6a6a6;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
}

.timeline-box #timeline li .relative label:hover {
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
  color: #89c64a;
}

.timeline-box #timeline .radio {
  display: none;
}

.timeline-box #timeline .radio:checked + .relative label {
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bolder;
  color: #89c64a;
}

.timeline-box #timeline .radio:checked + .relative {
  left: -54px;
}

.timeline-box #timeline .radio:checked + .relative .circle {
  width: 36px;
  height: 36px;
}

.timeline-box #timeline .radio:checked + .relative .circle .sub-circle {
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  background-color: #89c64a;
}

.timeline-box #content2, .timeline-box #content3, .timeline-box #content4 {
  display: none;
}

.timeline-box .content {
  width: 40%;
  height: 565px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 100px;
}

.timeline-box .content h2 {
  font-size: 2em;
  font-weight: bolder;
  color: #89c64a;
}

.timeline-box .content p {
  width: 100%;
  height: 100%;
  font-size: 1.75em;
  font-weight: lighter;
  margin: 10px;
}

.staff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 1145px;
  background: url(../images/staffBackground.png) no-repeat;
  background-size: cover;
  background-color: white;
  /*remove after*/
}

.staff .staff-title {
  display: block;
  text-align: center;
  width: 560px;
  margin: 100px auto;
}

.staff .staff-title h2 {
  font-size: 2.5em;
  font-weight: 900;
  line-height: 59px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
}

.staff .staff-title span {
  color: #89c64a;
}

.staff .staff-title h3 {
  font-size: 1.2em;
  font-weight: lighter;
}

.staff .staff-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.staff .staff-cards .cards {
  width: 350px;
  height: 680px;
  margin: 0 20px;
  background-color: #fff;
}

.staff .staff-cards .cards .link-socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.staff .staff-cards .cards .link-socialMedia .link-svg a {
  margin: 5px;
  color: rgba(255, 255, 255, 0.7);
}

.staff .staff-cards .cards .link-socialMedia .link-svg a .new-shape {
  width: 55px;
  height: 55px;
  fill: #89c64a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.staff .staff-cards .cards .link-socialMedia .link-svg a .new-shape:hover {
  fill: rgba(0, 0, 0, 0.5);
}

.staff .staff-cards .cards h3, .staff .staff-cards .cards h4, .staff .staff-cards .cards p {
  text-align: center;
}

.staff .staff-cards .cards h3 {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
}

.staff .staff-cards .cards h4 {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 300;
  margin: 10px 0;
}

.staff .staff-cards .cards p {
  width: 250px;
  margin: 0 auto;
  font-size: 1em;
  font-weight: lighter;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 890px;
  background-color: #fff;
}

.testimonials .box-container {
  width: 100%;
  height: 475px;
  background: url(../images/testimonialsBackground.png) no-repeat;
  background-size: cover;
}
/*# sourceMappingURL=about.css.map */